version: '3.5'

services:

    consignment:
        restart: always
        build: 
            context: .
            dockerfile: ./consignment_service/Dockerfile
        depends_on: 
            - vessel
            - datastore
        ports:
            - 50051:50051
        environment: 
            MICRO_SERVER_ADDRESS: ":50051"
            DB_HOST: "mongodb://datastore:27017"

    vessel:
        restart: always
        build:
            context: .
            dockerfile: ./vessel_service/Dockerfile
        ports:
            - 50052:50051
        environment: 
            MICRO_SERVER_ADDRESS: ":50051"
            DB_HOST: "mongodb://datastore:27017"
    
    client:
        build:
            context: .
            dockerfile: ./consignment_client/Dockerfile
        depends_on: 
            - consignment
    
    datastore:
        image: mongo
        container_name: "datastore"
        environment: 
            MONGO_DATA_DIR: "/data/db"
            MONGO_LOG_DIR: "/dev/null"
        volumes: 
            - ./data/db:/data/db
        ports: 
            - 27017
        command: mongod --logpath=/dev/null

    user:
        restart: always
        build:
            context: .
            dockerfile: ./user_service/Dockerfile            
        ports: 
            - 50053:50051
        environment: 
            MICRO_ADDRESS: ":50051"
            SECRET_KEY: "somesecretkey"
            DB_HOST: "database"
            DB_USER: "admin"
            DB_PASSWORD: "password"
            DB_NAME: "postgres"
        depends_on: 
            - database

    usercli:
        build: 
            context: .
            dockerfile: ./user_client/Dockerfile
        depends_on: 
            - user

    database:
        image: postgres:alpine
        environment: 
            POSTGRES_PASSWORD: "password"
            POSTGRES_USER: "admin"
        ports:
            - 5432:5432
